.two-part{
  display: flex;
  justify-content: space-between;
}
.cart-section{
border: 2px solid black;
margin: 10px;
width: 100%;
display: grid ;


}
p{
  font-size: 15px;
}
.flot{
  display: flex;
}
ul{
  background-color: lemonchiffon;
}
ul li{
  float: left;
  margin: 5px;
  list-style: none;
  border-radius: 20px;
  padding: 4px;
  font-size: 13px;
  background-color: navajowhite;

}
.input-part{
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside{
  padding: 20px;
  width: 25%;
  border: 2px solid red;
  padding: 10px;
  height: 100vh;
}
.carts{
  border: 2px solid purple;
  width: 355px;
  height: 550px;
 margin: 12px;
 padding: 17px;
  font-size: 20px;

  
}
.cart-img{
  width: 100px;
  height: 100px;
}
input{
  width: 35%;
}